* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  position: absolute;
  text-align: center;
  top: 10%;
  height: 80%;
  width: 100%;
  overflow-y: auto;
  z-index: -100;
}

#overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-color: #000;
}

/*************************/
/*************************/
.account-container {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 70%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
  background-color: azure;
}

.img-container {
  text-align: center;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.text-container {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account-container p {
  margin: 1%;
}

p.signout {
  cursor: pointer;
  color: #1d3042;
}

p.signout:hover {
  font-weight: bold;
  text-decoration: underline;
}


/*****************************/
/*****************************/
.model-container {
  margin: auto;
  padding: 10px;
  width: 70%;
  border-radius: 5px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
  background-color: azure;
}

.model-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.model-list-container p {
  width: 50%;
  text-align: center;
  font-size: large;
  margin-bottom: 10px;
}

details {
  margin: 3px;
  width: 40%;
}

details[open] {
  z-index: 100;
}

summary {
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px 5px 5px 0;
  background-color: #ddd;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "";
  display: inline-block;
  float: right;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(50%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
}

summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(-45deg) translate(0%, 0%);
}

.list ul {
  width: 90%;
  background: #ccc;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  max-height: 200px;
  overflow-y: auto;
  cursor: pointer;
}

li {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/******************/
/******************/


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}


.drag-area{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border : 2px dashed #1d3042;
  border-radius: 5px;
  height: 300px;
  width: 100%;
}

.drag-area.active{
  border: 2px solid #1d3042;
}

.drag-area .icon-drag{
  font-size: 5rem;
  color: #1d3042;
}

.drag-area header{
  color: #1d3042;
}

.drag-area span{
  font-size: 5rem;
  color: #1d3042;
}

.drag-area button{
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

/*****************/
/*****************/


.user-container {
  margin: 0 auto 10px auto;
  padding: 10px;
  width: 70%;
  border-radius: 5px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
  background-color: azure;
}

.model{
  
}

.li-model-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.user-list-container, 
.role-list-container,
.model-list-container-2 {
  margin: 2%;
}

.user-list-container li > *,
.role-list-container li > *,
.model-list-container-2 li > * {
  display: inline-block;
  width: 19%;
}

.alter-bdd button {
  margin: 4px;
  padding: 2% 3% 2% 3%;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
}

.add-user, .add-newrole {
  width: 40%;
  border: none;
  background-color: #4dc1ed;
  padding: 0.5% 2% 0.5% 0;
  border-radius: 30px;
  color: white;
  font-size: large;
  cursor: pointer;
}

.model-permissions p {
  background-color: #4dc1ed;
  margin: 3px;
  padding: 4px;
  color: white;
}

/*****************/
/*****************/

.onglets-container {
  width: 100%;
  height: 70px;
  display: flex;
  border-bottom: #1d3042 1px solid;
}

.onglets {
  width: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.onglets:not(nth-child(1)) {
  border-left: #1d3042 1px solid;
}



/* min 8
https://www.youtube.com/watch?v=JuEL_R4T7uI
 */

.contenu {
  opacity: 0;
}

.onglets.active{
  background-color: #4dc1ed;
  color: white;
}

.actifContenu {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/*****************/
/*****************/

.container .separator {
  margin: 2% 0 2% 0;
  font-size: larger;
}

/*********************/
/* Form ajout modèle */
/*********************/

.add-model-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(95, 95, 95, 0.52);
  overflow-y: auto;
}

.form-add-model select{
  width: 75%;
  margin: 3px 10px 10px 10px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
}

.form-add-model {
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  background-color: azure;
  min-height: 550px;
  max-height: 600px;
  border-radius: 5px;
}

.form-add-model p {
  margin-bottom: 10px;
  font-size: large;
}

.form-add-model input {
  width: 75%;
  margin: 3px 10px 10px 10px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
}

.btn-add-model {
  background-color: #4dc1ed;
  border-radius: 17px;
  border: none;
  width: 60%;
  padding: 10px;
  margin-top: 10%;
  color: white;
  font-size: medium;
  cursor: pointer;
}


/*********************/
/* Form ajout accès */
/*********************/

.add-access-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(95, 95, 95, 0.52);
  overflow-y: auto;
} 

.form-add-access {
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  background-color: azure;
  min-height: 550px;
  max-height: 600px;
  border-radius: 5px;
}

.form-add-access p {
  margin-bottom: 10px;
  font-size: large;
}

.combobox-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.combobox-container label{
  margin: 10px;
}

.ul-role-access{
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.li-delete-access{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
}

.li-delete-access:hover{
  background-color: red;
  color: white;
}

.btn-add-new-access{
  background-color: #4dc1ed;
  border-radius: 17px;
  border: none;
  width: 30%;
  padding: 10px;
  margin-top: 10%;
  margin-bottom: 20%;
  color: white;
  cursor: pointer;
}

/**************************/
/* Form ajout utilisateur */
/**************************/

.add-user-container,
.add-role-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(95, 95, 95, 0.52);
  overflow-y: auto;
}

.form-add-user,
.form-add-role {
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  background-color: azure;
  min-height: 552px;
  border-radius: 5px;
}

.form-add-user p,
.form-add-role p {
  margin-bottom: 10px;
  font-size: large;
}

.form-add-user input,
.form-add-role input{
  width: 75%;
  margin: 3px 10px 10px 10px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.input-container label {
  align-self: flex-start;
  opacity: 0.7;
}

.btn-add-user,
.btn-add-role {
  background-color: #4dc1ed;
  border-radius: 17px;
  border: none;
  width: 60%;
  padding: 10px;
  margin-top: 10%;
  color: white;
  font-size: medium;
  cursor: pointer;
}

/**************************/
/**************************/

.update-user-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(95, 95, 95, 0.52);
  overflow-y: auto;
}

.form-update-user {
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  background-color: azure;
  min-height: 552px;
  border-radius: 5px;
}

.form-update-user p {
  margin-bottom: 10px;
  font-size: large;
}

.form-update-user input {
  width: 75%;
  margin: 3px 10px 10px 10px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.input-container label {
  align-self: flex-start;
  opacity: 0.7;
}

.btn-update-user {
  background-color: #4dc1ed;
  border-radius: 17px;
  border: none;
  width: 60%;
  padding: 10px;
  margin-top: 10%;
  color: white;
  font-size: medium;
  cursor: pointer;
}

#psw-form {
  margin-top: 5%;
  font-size: medium;
  text-align: right;
  cursor: pointer;
}

#psw-form:hover {
  text-decoration: underline;
  font-weight: bold;
}

/****************/
/****************/

.change-psw-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(95, 95, 95, 0.52);
  overflow-y: auto;
}

.form-change-psw {
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  background-color: azure;
  min-height: 450px;
  max-height: 470px;
  border-radius: 5px;
}

.form-change-psw p {
  margin-bottom: 10px;
  font-size: large;
}

.form-change-psw input {
  width: 75%;
  margin: 3px 10px 10px 10px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.input-container label {
  align-self: flex-start;
  opacity: 0.7;
}

.btn-change-psw {
  background-color: #4dc1ed;
  border-radius: 17px;
  border: none;
  width: 60%;
  padding: 10px;
  margin-top: 10%;
  color: white;
  font-size: medium;
  cursor: pointer;
}

/******************************/
/******************************/

.update-ok {
  display: none;
  position: fixed;
  top: 15%;
  width: 100%;
  justify-content: center;
  z-index: 1000;
  text-align: center;
}

.update-ok p {
  padding: 10px;
  background-color: rgba(0, 255, 0, 0.68);
  border-radius: 5px;
}

.update-ko {
  display: none;
  position: fixed;
  top: 15%;
  width: 100%;
  justify-content: center;
  z-index: 1000;
  text-align: center;
}

.update-ko p {
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.68);
  border-radius: 5px;
}

/***
pop-up
*/

#modal-overlay {
  z-index: 1000;
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);

  display: none;
  align-items: center;
  justify-content: center;
}
#modal-overlay #modal {
  max-width: 650px;
  width: 100%;
  background: white;
  height: 400px;

  display: flex;
  flex-direction: column;
  padding:30px;
}

#modal-overlay #modal .modal-footer {
  margin-top: auto;
}

.modal-footer {
	align-self: center;
}

#modal {
	border-radius: 10px;
}

.modal-header {
  display: flex;
  align-items: center;
	align-self: center;
	padding: 10px;
}

.modal-header img {
  padding-right: 10px;
}

.modal-subtitle {
  margin-top: auto;
	align-self: center;
}

.modal-message {
  margin: auto;
  align-self: center;
}

#close-modal {
  padding: 10px;
  font-size: 1.1em;
  background: #4dc1ed;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#close-modal:hover {
  background: #1d3042;
}
